<h1 >Search <small>by symptoms</small></h1>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]='typedSymptoms' (keypress)="changeTypedSymptoms($event.keyCode)" pattern="[a-zA-Z ]*"/>
    <div class="input-group-btn">
        <button class="btn btn-success" (click)='searchDiseases()'>
                <i class="glyphicon glyphicon-search"></i>
            </button>
    </div>
</div>
<br>
<div *ngIf='errorMessage'>
    <p class="text-center text-danger">{{errorMessage}}</p>
</div>
<table class="table" *ngIf='diseases && diseases.length'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let disease of diseases'>
            <td><a [routerLink]="['/disease', disease.Id]">{{disease.Name}}</a></td>
            <td>{{disease.Type}}</td>
            <td><kbd> 0 </kbd></td>
        </tr>
    </tbody>
</table>