<div class="panel panel-success">
    <div class="panel-heading">
        Disease: {{disease.Name}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4"><label>Type</label></div>
            <div class="col-sm-8">
                {{ disease.Type }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"><label>Symptoms</label></div>
            <div class="col-sm-8">
                {{ disease.Symptoms }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4"><label>Cure</label></div>
            <div class="col-sm-8">
                {{ disease.Cure }}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" [routerLink]="['search']">Back</a>
    </div>
</div>